<div id="footer"><!-- Page Footer Start -->
	<div class="footer">
		<div class="box-1675">
			<div class="container-fluid">
				<div class="row box-title-footer">
					<div class="col-md-2 col-sm-2"><div class="title-footer">Ecom</div></div>
					<div class="col-md-2 col-sm-2"><div class="title-footer">Categories</div></div>
					<div class="col-md-2 col-sm-2"><div class="title-footer">Information</div></div>
					<div class="col-md-2 col-sm-2"><div class="title-footer">Stay connected</div></div>
					<div class="col-md-2 col-sm-2"><div class="title-footer">My Account</div></div>
					<div class="col-md-2 col-sm-2"><div class="title-footer">Help & Contact</div></div>
				</div>
				<div class="row">
					<div class="hr-footer"></div>
				</div>
				<div class="row">
					<div class="col-md-2 col-sm-2 text-footer"> 
						<ul>
							<li><a href="product_accessories.html">Products</a></li>
							<li><a href="page_cart-step-one.html">Cart step one</a></li>
							<li><a href="page_cart-step-two.html">Cart step two</a></li>
							<li><a href="page_compare.html">Compare</a></li>
							<li><a href="page_wish-list.html">Wishlist</a></li>
						</ul> 
					</div>
					<div class="col-md-2 col-sm-2 text-footer"> 
						<ul>
							{{#each menu}}
								<li><a href="{{url}}">{{title}}</a></li>
							{{/each}}
						</ul> 
					</div>
					<div class="col-md-2 col-sm-2 text-footer"> 
						<ul>
							<li><a href="page_404.html">404</a></li>
							<li><a href="page_cart-step-empty.html">Cart empty</a></li>
							<li><a href="page_delivery.html">Delivery</a></li>
							<li><a href="page_opening-soon.html">Opening soon</a></li>
							<li><a href="page_search-not-found.html">Search not found</a></li>
							<li><a href="page_discont.html">Discount</a></li>
						</ul> 
					</div>
					<div class="col-md-2 col-sm-2 text-footer"> 
						<ul>
							<li><a target="_blank" href="https://www.instagram.com/webarksystem/">Instagram</a></li>
							<li><a target="_blank" href="https://www.facebook.com/WebArk-346789308995961">Facebook</a></li>
							<li><a target="_blank" href="https://twitter.com/WebarkSystems">Twitter</a></li>
							<li><a target="_blank" href="https://plus.google.com/u/0/104841685075716062830">Google+</a></li>
						</ul> 
					</div>
					<div class="col-md-2 col-sm-2 text-footer"> 
						<ul>
							<li><a href="page_account.html?active_tab=0">Personal Infromation</a></li>
							<li><a href="page_account.html?active_tab=1">Address</a></li>
							<li><a href="page_account.html?active_tab=2">Orders</a></li>
							<li><a href="page_account.html?active_tab=3">Wishlist</a></li>
						</ul> 
					</div>
					<div class="col-md-2 col-sm-2 text-footer"> 
						<ul>
							<li><a href="page_faq.html">FAQ</a></li>
							<li><a href="page_privacy_policy.html">Privacy policy</a></li>	
							<li><a href="page_contacts.html">Contact us</a></li>
							<li><a href="page_about-us.html">About us</a></li>
						</ul> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-mob">
		<div class="container">
			<div class="row" id="js-footer-item">
				<div class="footer-wrap-mob">
					<div class="title-footer-wrap-mob">Ecom</div>
					<ul>
						<li><a href="product_accessories.html">Products</a></li>
						<li><a href="page_cart-step-one.html">Cart step one</a></li>
						<li><a href="page_cart-step-two.html">Cart step two</a></li>
						<li><a href="page_compare.html">Compare</a></li>
						<li><a href="page_wish-list.html">Wishlist</a></li>
					</ul>
				</div>
				<div class="footer-wrap-mob">
					<div class="title-footer-wrap-mob">Categories</div>
					<ul>
						{{#each menu}}
							<li><a href="{{url}}">{{title}}</a></li>
						{{/each}}
					</ul>
				</div>
				<div class="footer-wrap-mob">
					<div class="title-footer-wrap-mob">Information</div>
					<ul>
						<li><a href="page_404.html">404</a></li>
						<li><a href="page_cart-step-empty.html">Cart empty</a></li>
						<li><a href="page_delivery.html">Delivery</a></li>
						<li><a href="page_opening-soon.html">Opening soon</a></li>
						<li><a href="page_search-not-found.html">Search not found</a></li>
						<li><a href="page_discont.html">Discount</a></li>
					</ul>
				</div>
				<div class="footer-wrap-mob">
					<div class="title-footer-wrap-mob">Stay connected</div>
					<ul>
						<li><a target="_blank" href="https://www.instagram.com/webarksystem/">Instagram</a></li>
						<li><a target="_blank" href="https://www.facebook.com/WebArk-346789308995961">Facebook</a></li>
						<li><a target="_blank" href="https://twitter.com/WebarkSystems">Twitter</a></li>
						<li><a target="_blank" href="https://plus.google.com/u/0/104841685075716062830">Google+</a></li>
					</ul>
				</div>
				<div class="footer-wrap-mob">
					<div class="title-footer-wrap-mob">My Account</div>
					<ul>
						<li><a href="page_account.html?active_tab=0">Personal Infromation</a></li>
						<li><a href="page_account.html?active_tab=1">Address</a></li>
						<li><a href="page_account.html?active_tab=2">Orders</a></li>
						<li><a href="page_account.html?active_tab=3"> Wishlist</a></li>
					</ul>
				</div>
				<div class="footer-wrap-mob">
					<div class="title-footer-wrap-mob">Help & Contact</div>
					<ul>
						<li><a href="page_faq.html">FAQ</a></li>
						<li><a href="page_privacy_policy.html">Privacy policy</a></li>	
						<li><a href="page_contacts.html">Contact us</a></li>
						<li><a href="page_about-us.html">About us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="full-version"><a href="#">Full Version</a></div>
	<div class="copyright">
		<div class="box-1675">
			<div class="container-fluid">
				<div class="row">
					<div class="text-copyright">
						Copyright © 2017 eCom Inc. All Rights Reserved
					</div>
				</div>
			</div>
		</div>
	</div><!-- Footer End -->	
</div>
<div class="main-account" id="main-account"><!-- My Account Popup Start -->
	<div class="box-account">
		<div class="close-account-box" id="close-account-box"></div>
		<div id="tabs_account">
			<ul>
				<li><a href="#sign_in">Sign in</a></li>
				<li><a href="#new_account">New account</a></li>
			</ul>
			<div id="sign_in">
				<form class="forgot_pass_form" id="forgot_pass_form" action="/">
					<p>Lost your password? Enter your email address. You will receive a link to create a new password.</p>
					<input type="text" placeholder="E-MAIL" class="email">

					<input type="submit" class="button-lardge custom" value="Sign in">
					<a class="back-log-in" id="back-log-in" href="#">Back to log-in</a>
				</form>
				<form class="sign_in_form" id="sign_in_form" action="/">
					<input type="text" placeholder="E-MAIL" class="email">
					<input type="password" placeholder="PASSWORD" class="password">
					<label>
						<input class="rem-check" type="checkbox" name="checkbox-sign">
						<span class="checkbox-rem"></span>
						<span class="nameremember">Remember me</span>
					</label>
					<input type="submit" class="button-lardge custom" value="Sign in">
					<a class="forgot-pass" id="forgot-pass" href="#">Forgot your password?</a>
				</form>
			</div>
			<div id="new_account">
				<form class="new_account" action="/">
					<input type="text" placeholder="NAME" class="name">
					<input type="text" placeholder="E-MAIL" class="email">
					<input type="password" placeholder="PASSWORD" class="password">
					<label>
						<input class="regis-check" type="checkbox" name="checkbox-regis">
						<span class="checkbox-regis"></span>
						<span class="nameregistr">I Agree with terms & Conditions</span>
					</label>
					<input type="submit" class="button-lardge custom" id="js-open-thank" value="Register">
				</form>
				<div class="thank_registr" id="thank_registr"><p>Thank you! now you have acount on eCom</p></div>
			</div>
		</div>
	</div>
</div><!-- My Account Popup End -->

<div class="loader" id="loader">
	<div class="preloader" id="preloader"></div>
</div>
  <!--[if lt IE 9]>
  <script src="libs/html5shiv/es5-shim.min.js"></script>
  <script src="libs/html5shiv/html5shiv.min.js"></script>
  <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
  <script src="libs/respond/respond.min.js"></script>
  [endif]-->

	<!-- Uncompressed JS files
 	<script src='libs/jquery/jquery-3.1.1.min.js' type="text/javascript"></script>
    <script src='libs/waypoints/waypoints.min.js' type="text/javascript"></script>
    <script src='libs/animate/animate-css.js' type="text/javascript"></script>
    <script src='libs/jquery-ui/jquery-ui.min.js' type="text/javascript"></script>
    <script src='libs/jquery-ui/jquery.mousewheel-3.0.4.js' type="text/javascript"></script>
    <script src='libs/bootstrap/js/bootstrap.min.js' type="text/javascript"></script>
    <script src='libs/bootstrap/js/bootstrap-hover-dropdown.min.js' type="text/javascript"></script>
    <script src='libs/bootstrap/js/bootstrap-dropdownhover.min.js' type="text/javascript"></script>
    <script src='libs/bootstrap/js/bootstrap-select.min.js' type="text/javascript"></script>
    <script src='libs/imagesloaded/imagesloaded.pkgd.min.js' type="text/javascript"></script>
    <script src='libs/owl-carousel/owl.carousel.min.js' type="text/javascript"></script>
    <script src='libs/masonry/masonry.js' type="text/javascript"></script>
    <script src='libs/waves/js/waves.min.js' type="text/javascript"></script>
    <script src='js/js/common.js' type="text/javascript"></script> -->

	<script src="js/compressed.min.js"></script>
</body>
</html>
