<div id="footer"><!-- Page Footer Start -->
	<div class="copyright">
		<div class="box-1675">
			<div class="container-fluid">
				<div class="row">
					<div class="text-copyright">
						Copyright © 2017 Pricenometry. All Rights Reserved
					</div>
				</div>
			</div>
		</div>
	</div><!-- Footer End -->
</div>

<div class="loader" id="loader">
	<div class="preloader" id="preloader"></div>
</div>
  <!--[if lt IE 9]>
  <script src="libs/html5shiv/es5-shim.min.js"></script>
  <script src="libs/html5shiv/html5shiv.min.js"></script>
  <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
  <script src="libs/respond/respond.min.js"></script>
  [endif]-->

	<!-- Uncompressed JS files
 	<script src='libs/jquery/jquery-3.1.1.min.js' type="text/javascript"></script>
    <script src='libs/waypoints/waypoints.min.js' type="text/javascript"></script>
    <script src='libs/animate/animate-css.js' type="text/javascript"></script>
    <script src='libs/jquery-ui/jquery-ui.min.js' type="text/javascript"></script>
    <script src='libs/jquery-ui/jquery.mousewheel-3.0.4.js' type="text/javascript"></script>
    <script src='libs/bootstrap/js/bootstrap.min.js' type="text/javascript"></script>
    <script src='libs/bootstrap/js/bootstrap-hover-dropdown.min.js' type="text/javascript"></script>
    <script src='libs/bootstrap/js/bootstrap-dropdownhover.min.js' type="text/javascript"></script>
    <script src='libs/bootstrap/js/bootstrap-select.min.js' type="text/javascript"></script>
    <script src='libs/imagesloaded/imagesloaded.pkgd.min.js' type="text/javascript"></script>
    <script src='libs/owl-carousel/owl.carousel.min.js' type="text/javascript"></script>
    <script src='libs/masonry/masonry.js' type="text/javascript"></script>
    <script src='libs/waves/js/waves.min.js' type="text/javascript"></script>
    <script src='js/js/common.js' type="text/javascript"></script> -->

	<script src="js/compressed.min.js"></script>
</body>
</html>
