<div class="block-sidebar hidden-768">
			<div class="title-sidebar"> Filters </div>
			<div class="content-sidebar">
				
				<div id="nav_list_first" class="nav_list">
					
					<div class="all-box-custom"><a href="#">Price<i class="fa fa-angle-down" aria-hidden="true"></i>
</a>
						<div class="box-custom-size-div">
							<form class="box-custom-size">
								<div class="resize-curs" id="resize-curs"> 
									<input type="text" id="min-custom-size" />
									<div class="hr-custim-size">-</div>
									<input type="text" id="max-custom-size" />
									<div class="hr-custim-size">$</div>
									<input type="submit" class="submin-custom-size" value="Ok" />
								</div>
								
								<div id="slider-range"></div>
								
							</form> 
						</div>
					</div>
					<div class="all-box-custom"><a href="#">Size<i class="fa fa-angle-down" aria-hidden="true"></i>
</a>
						<div class="box-custom-check-div">
							<div class="box-filtrs-check">
								<label>
									<input class="checkbox" type="checkbox" name="checkbox-test">
									<span class="checkbox-custom"></span>
									<span class="nameprod">Manufacturer(<span>1</span>)</span>
								</label>
								<label>
									<input class="checkbox" type="checkbox" name="checkbox-test">
									<span class="checkbox-custom"></span>
									<span class="nameprod">Manufacturer(<span>569</span>)</span>
								</label>
								<label>
									<input class="checkbox" type="checkbox" name="checkbox-test">
									<span class="checkbox-custom"></span>
									<span class="nameprod">Manufacturer(<span>22</span>)</span>
								</label>
							</div>
						</div>     
					</div>

				</div>
			</div>
		</div>