  <!-- Bread Сrumbs Start -->
<div class="main-bread">
  <div class="box-1675">
    <div class="container-fluid">
      <div class="row">
        <div class="block-bread">
          <span><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>
Sports & Outdoors</a></span>
          <span><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>
Outdoor Recreation</a></span>
          <span><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>
Cycling</a></span>
          <span><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i>
Kids' Bikes & Accessories</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bread Сrumbs End -->