<div class="box-sampe hidden-sm hidden-xs">
	<div class="stract-box-sample" id="stract-box-sample">
	<button class="js-stract-sample stract-sample stract-arrow-down" id="js-stract-sample">
		<span class="stract-one js-active-stract active"></span><i class="fa fa-angle-down" aria-hidden="true"></i>

	</button>
	<ul id="stract-list">
		<li data-stract="stract-one"><span class="stract-one"></span></li>
		<li  class="active" data-stract="stract-two"><span class="stract-two"></span></li>
		<li class="active" data-stract="stract-three"><span class="stract-three"></span></li>
		<li class="active" data-stract="stract-four"><span class="stract-four"></span></li>
	</ul>
</div>

<div class="box-sort-sample">
	<div class="sort-box-sample" id="sort-box-sample">
	<button class="js-sort-sample sort-sample sort-arrow-down" id="js-sort-sample">
		<span class="sort-one js-active-sort active">Sort by price</span><i class="fa fa-angle-down" aria-hidden="true"></i>

	</button>
		<ul id="sort-list">
			<li data-sort="sort-one"><span>Sort by price</span>
</li>
			<li class="active" data-sort="sort-two"><span>By date</span></li>
			<li class="active" data-sort="sort-three"><span>From A to Z</span></li>
			<li class="active" data-sort="sort-four"><span>From Z to A</span></li>
		</ul>
	</div>


</div>
</div>