<div class="col-sidebar">
	<!-- Block Bar Categories Start -->
	{{> part-bar_categories}}
	<!-- Block Bar Categories End -->
	<!-- Block Bar Filters Start -->
	{{> part-bar_filters}}
	<!-- Block Bar Filters End -->

	<!-- Block Bar Bunner Start -->
	{{> part-bar_bunner}}
	<!-- Block Bar Bunner End -->

	<!-- Block Bar Offers Start -->
	{{> part-bar_offers}}
	<!-- Block Bar Offers End -->
	
	</div>	