
<!-- Slider Mobile Start -->
    <div id="myCarousel3" class="carousel slide">
      <!-- Индикаторы карусели -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel3" data-slide-to="1"></li>
        <li data-target="#myCarousel3" data-slide-to="2"></li>
       </ol>   
       <!-- Слайды карусели -->
       <div class="carousel-inner">
         <!-- 1 слайд -->
         <div class="item active">
           <img src="{{products_slide.[0].images.[0]}}" alt="1 slide">
         </div>
         <!-- 2 слайд -->
         <div class="item">
           <img src="{{products_slide.[0].images.[1]}}" alt="2 slide">
         </div>
         <!-- 3 слайд -->
         <div class="item">
           <img src="{{products_slide.[0].images.[2]}}" alt="3 slide">
         </div>
       </div>
       <!-- Система навигации для карусели, с помощью которой осуществляется переход на предыдущий и следующий слайд -->
       <a class="carousel-control left" href="#myCarousel3" 
          data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i>
</a>
       <a class="carousel-control right" href="#myCarousel3" 
          data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i>
</a>
    </div> 
     
    <!-- Скрипт на языке JavaScript, который выводит всплывающее сообщение перед началом процесса смены слайда -->

<!-- Slider Mobile End -->