<div class="block-nav-product">
          <ul>
            <li class="product-all-cat ">
<div class="dropdown dropdown-inline">

                    <a href="#" class="dropdown-toggle product-all-cat-arrow" data-toggle="dropdown" data-hover="dropdown">All categories<i class="fa fa-angle-down" aria-hidden="true"></i>

</a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li class="dropdown">
                        <a href="#">Another dropdown<i class="fa fa-angle-right" aria-hidden="true"></i>
</a>
                        <ul class="dropdown-menu ">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#">Another dropdown 2<i class="fa fa-angle-right" aria-hidden="true"></i>
</a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li class="dropdown">
                            <a href="#">Another dropdown </a>
                          
                            </li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Another action</a></li>

                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </div>
            </li>
            <li><a href="#">Sports & Outdoors</a></li>
            <li><a href="#">Sports & Fitness</a></li>
            <li class="pre-style-bread"><a href="#">Clothing</a></li>
            <li><span>Women's Socks</span></li>
          </ul>
        </div>