<div class="main_privacy_policy">
	<div class="box-1675">
	  <!-- Bread Сrumbs Start -->
        <div class="main-bread">
          <div class="container-fluid">
            <div class="row">
              <div class="block-bread">
                <span><a href="index.html">Home</a></span>
                <span><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Bread Сrumbs End -->
		<div class="box-policy">
			<div class="title">
				<h1>Privacy Policy</h1>
			</div>
			<div class="content">
				<p>Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur. Cum et meliore fierent consequat, eum dicit debitis inimicus an. Idque nonumy timeam te vel, ad eos dolore maiorum feugait. Vix cu nostrud atomorum referrentur.</p>
				<p>
					Ei posse dicant adolescens ius, error argumentum disputationi sit et, pri soluta menandri ei. Vis eu dicta integre probatus. Pro omnis quaestio definitionem ne, nam suas partem percipitur eu, id quo alia eligendi. Ne vivendum suavitate consequat pro, ad etiam fabulas imperdiet mei, error copiosae at usu. Pri vocibus recusabo eu. Simul alterum ullamcorper ne eos, audiam inciderint ei cum. Facilisis maluisset duo ea, similique cotidieque id pri, et eum esse mutat invidunt.
				</p>
				<p>
					Ei posse dicant adolescens ius, error argumentum disputationi sit et, pri soluta menandri ei. Vis eu dicta integre probatus. Pro omnis quaestio definitionem ne, nam suas partem percipitur eu, id quo alia eligendi. Ne vivendum suavitate consequat pro, ad etiam fabulas imperdiet mei, error copiosae at usu. Pri vocibus recusabo eu. Simul alterum ullamcorper ne eos, audiam inciderint ei cum. Facilisis maluisset duo ea, similique cotidieque id pri, et eum  alterum ullamcorper ne eos, audiam inciderint esse mutat invidunt.
				</p>
			</div>
		</div>
	</div>
</div>