<div class="box-cart-empty">
	<div class="box-1675">
		<div class="title">
			<h1>Cart</h1>	
		</div>
		<div class="wrap-cart-empty">
			<img class="img-backed-empty" src="img/icon-backed-empty.png" alt="">
			<div class="text">
				Your cart is currently empty.
			</div>
			<a href="index.html" class="sales-link button-lardge">See what’s on sale</a>
		</div>
	</div>			
</div>
