<div class="box-cart">
	<div class="box-1675">
		<div class="box-steps">
			<ul>
				<li><a href="page_cart-step-one.html">Step 1</a></li>
				<li ><a class="active"  href="page_cart-step-two.html">Step 2</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>CART</h1>
		</div>
	</div>	
	<div class="box-cart-mob">
		<div class="back-link-mob"><a href="page_cart-step-one.html"><i class="fa fa-angle-left" aria-hidden="true"></i>Back to step 1</a></div>

	</div>		
	<div class="main-step-two">
		<form action="/" class="form-step-two">
			<input type="text" class="input-style" placeholder="EMAIL" required="" />
			<input type="text" class="input-style" placeholder="NAME" required="" />
			<div class="box-select-town">
			<i class="fa fa-angle-down" aria-hidden="true"></i>
				<select class="input-style select-step-two" id="select-town">
					<option>United states</option>
					<option>United states</option>
					<option>United states</option>
				</select>
			</div>
			<input type="text" class="input-style" placeholder="STREET" required="" />
			<input type="text" class="input-style" placeholder="CITY/TOWN" required="" />
			<input type="text" class="input-style" placeholder="ZIP CODE" required="" />
			<input type="text" class="input-style" placeholder="PHONE NUMBER" required="" />
			<a class="submit-input-style button-lardge" href="page_delivery.html">order</a>

		</form>
	</div>
</div>
