  <div class="box-1675">
<div class="main_delivery">

    <div class="left">
      <div class="title">
        <h1>
          Thank you for order!
        </h1>
            </div>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur. Cum et meliore fierent consequat, eum dicit debitis inimicus an. Idque nonumy timeam te vel, ad eos dolore maiorum feugait. Vix cu nostrud atomorum referrentur.</p>
          <p>
            Ei posse dicant adolescens ius, error argumentum disputationi sit et, pri soluta menandri ei. Vis eu dicta integre probatus. Pro omnis quaestio definitionem ne, nam suas partem percipitur eu, id quo alia eligendi. Ne vivendum suavitate consequat pro, ad etiam fabulas imperdiet mei, error copiosae at usu. Pri vocibus recusabo eu. Simul alterum ullamcorper 
          </p>
        </div>
        <div class="box-hope">
          <h6>We hope to see you again soon!</h6>
          <span>eCom team</span>
        </div>
        <div class="link-orders">
          <a href="page_account.html">Go to all of my orders</a>
        </div>

    </div>
    <div class="right">
      <h6>Shipment Tracking:</h6>
      <p>Your Order No: <span>#12345678923445</span></p>
      <h6>Adress:</h6>
      <p>Petter Smith <br>
        No 7, Park Avenue, East Place NY <br>
        City, New York 125246</p>
        <a href="#" class="track_order button-lardge">Track my order</a>
      </div>
    </div>
  </div>