<!-- Blocks with the goods Start -->
<div class="main-search-not-found">
	<div class="box-1675">
		<div class="container-fluid">
			<div class="row">
							<div class="col-sidebar">
				<!-- Block Bar Categories Start -->
	{{> part-bar_categories}}
	<!-- Block Bar Categories End -->

	<!-- Block Bar Bunner Start -->
	{{> part-bar_bunner}}
	<!-- Block Bar Bunner End -->

	<!-- Block Bar Offers Start -->
	{{> part-bar_offers}}
	<!-- Block Bar Offers End -->
	
					</div>
				<div class="box-search-not-found">
					<div class="title">
						<h1>Search</h1>
					</div>
<img class="img-clock" src="img/icon-clock.png" alt="">
<div class="string-not-found"><p>We didn’t find any results for “<span>saDasRfmsda</span>”</p></div>
<a href="/" class="btn-see-sale button-lardge">Go back to products</a>
				</div>
			</div>
		</div>
	</div>
</div>
