<div class="main_about_us">
	<div class="box-1675">
  <!-- Bread Сrumbs Start -->
<div class="main-bread">
    <div class="container-fluid">
      <div class="row">
        <div class="block-bread">
          <span><a href="index.html">Home</a></span>
       		<span><i class="fa fa-angle-right" aria-hidden="true"></i>About us</span>
        </div>
      </div>
    </div>
</div>
<!-- Bread Сrumbs End -->
	<div class="title">
		<h1>About us</h1>
	</div>
	
</div>
<div class="pre-about">
	<img src="img/pre-about.jpg" alt="">
</div>
<div class="whowe">
	<div class="content">
		<div class="title-h4">		
			<h4>Who we are?</h4>
		</div>
		<p>Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur. Cum et meliore fierent consequat, eum dicit debitis inimicus an. Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur.</p>
		<p>Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur. Cum et meliore fierent consequat, eum dicit debitis inimicus an. Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur.</p>
		<ul class="list-done">
			<li><i class="fa fa-check" aria-hidden="true"></i> Etiam sed dolor ac diam volutpat</li>
			<li><i class="fa fa-check" aria-hidden="true"></i> Erat volutpat. Phasellus eu porta ipsum suspendisse aliquet imperdiet</li>
			<li><i class="fa fa-check" aria-hidden="true"></i> Phasellus eu porta ipsum. Suspendisse aliquet imperdiet commodo</li>
			<li><i class="fa fa-check" aria-hidden="true"></i> Sed eget pulvinar quam, vel feugiat enim aliquam</li>
		</ul>
	</div>
</div>
<div class="thing">
	<div class="box-1675">
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><div class="box-thing"><i class="fa fa-sign-language" aria-hidden="true"></i>
		</div><h4>1 Thing</h4><span>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem donec sollicitudin erat malаm olestie at sem donec accumsan</span></div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><div class="box-thing"><i class="fa fa-suitcase" aria-hidden="true"></i>
		</div><h4>2 Thing</h4><span>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem donec sollicitudin erat malаm olestie at sem donec accumsan</span></div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><div class="box-thing"><i class="fa fa-star-half-o" aria-hidden="true"></i>
		</div><h4>3 Thing</h4><span>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem donec sollicitudin erat malаm olestie at sem donec accumsan</span></div>
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><div class="box-thing"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
		</div><h4>4 Thing</h4><span>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem donec sollicitudin erat malаm olestie at sem donec accumsan</span></div>
	</div>
</div>
<div class="team">
	<div class="title"><h2>Our team</h2></div>
	<div class="box-1675">
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-team">
				<img src="img/team1.jpg" alt="">
				<div class="bot">
					<div class="name-auther">Trevor Philips</div>
					<div class="position-auther">FOUNDER</div>
					<div class="description-auther">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem donec sollicitudin  erat malаm olestie at sem donec accumsan</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-team">
				<img src="img/team2.jpg" alt="">
				<div class="bot">
					<div class="name-auther">Rose EVANS</div>
					<div class="position-auther">Co - FOUNDER</div>
					<div class="description-auther">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem donec sollicitudin  erat malаm olestie at sem donec accumsan</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-team">
				<img src="img/team3.jpg" alt="">
				<div class="bot">
					<div class="name-auther">Mike Smith</div>
					<div class="position-auther">PR</div>
					<div class="description-auther">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem donec sollicitudin  erat malаm olestie at sem donec accumsan</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-team">
				<img src="img/team4.jpg" alt="">
				<div class="bot">
					<div class="name-auther">Jane EVANS</div>
					<div class="position-auther">PM</div>
					<div class="description-auther">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem donec sollicitudin  erat malаm olestie at sem donec accumsan</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-team">
				<img src="img/team5.jpg" alt="">
				<div class="bot">
					<div class="name-auther">SMITH EVANS</div>
					<div class="position-auther">Co - FOUNDER</div>
					<div class="description-auther">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem donec sollicitudin  erat malаm olestie at sem donec accumsan</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clients">
	<div class="title"><h2>Our clients</h2></div>
	<div class="box-1675">
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-clients">
				<img src="img/logo-client1.jpg" alt="">
				<div class="text">Everest</div>
			</div>
		</div>
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-clients">
				<img src="img/logo-client2.jpg" alt="">
				<div class="text">Camping</div>
			</div>
		</div>
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-clients">
				<img src="img/logo-client3.jpg" alt="">
				<div class="text">Summer</div>
			</div>
		</div>
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-clients">
				<img src="img/logo-client4.jpg" alt="">
				<div class="text">Cake&bread</div>
			</div>
		</div>
		<div class="col-lg-1-5 col-md-4 col-sm-6 col-xs-12">
			<div class="box-clients">
				<img src="img/logo-client5.jpg" alt="">
				<div class="text">Barber shop</div>
			</div>
		</div>
	</div>
</div>
</div>